<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>New</strong> Bill 
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="text-input">Vendor * (Who is this bill from?)</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find a person or company">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">                    
                    <div>Type in the field above to find a vendor from your contacts list. OR</div>
                    <a href="javascript:;" class="btn btn-outline-secondary"><i class="fa fa-lightbulb-o"></i>&nbsp;Add New</a>                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="date-input">Bill Date</label>
                      <div>
                        <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                        <span class="help-block">Please enter a valid date</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label for="date-input">Due Date</label>
                      <div>
                        <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                        <span class="help-block">Please enter a valid date</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="text-input">Reference #</label>
                      <div>
                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="textarea-input">Memo (Info that pertains to this bill as a whole)</label>
                  <div>
                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                  This bill contains items to add to inventory
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-5">
                <label for="ccmonth">Bookkeeping Account *</label>
                <select class="form-control" id="ccmonth">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
              <div class="form-group col-sm-5">
                <div class="form-group">
                  <label for="text-input">Description (What is this money amount for?)</label>
                  <div>
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <div class="form-group">
                  <label for="text-input">Amount</label>
                  <div>
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                  </div>
                </div>
              </div>
          </div> 
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save Bill</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>      
    </div><!--/.col-->
  </div><!--/.row-->
</div>
