 <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-4">
                <mat-horizontal-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Email and Password is required.">
                      <form [formGroup]="firstFormGroup" class="form-input">
                        <ng-template matStepLabel>Fill out your Email and Password</ng-template>
                        <mat-form-field>
                          <input matInput placeholder="Email" formControlName="email" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="password" matInput placeholder="Password" formControlName="password" required>
                          </mat-form-field>
                        <div>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="field whtih a * is required.">
                      <form [formGroup]="secondFormGroup" class="form-input">
                        <ng-template matStepLabel>Fill out your Personal Information </ng-template>

                        <mat-form-field>
                          <input matInput placeholder="First Name" formControlName="firstName" required>
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput placeholder="Last Name" formControlName="lastName" required>
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput placeholder="Middle Name" formControlName="middleName" required>
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" placeholder="Birthdate" required (click)="picker.open()" formControlName="birthDate">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>

                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext (click)="clicked()">Next</button>
                        </div>
                        {{secondFormGroup.value.birthDate}}
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup" errorMessage="field whtih a * is required.">
                      <ng-template matStepLabel>Fill out your Business Information</ng-template>
                      <form [formGroup]="thirdFormGroup" class="form-input">
                          <ng-template matStepLabel>Fill out your address</ng-template>
                          <mat-form-field>
                            <input matInput placeholder="test" formControlName="dataFor3rd" required>
                          </mat-form-field>
                        </form>
                      
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



